#rightmenu{ 
position: absolute; 
width: 450px; 
height: 850px; 
left: 800px; 
color:#000000; 
background: #555;
} 
#leftmenu { 
color:#000000; 
position: absolute; 
width: 300px; 
height: 850px; 
left: 500px; 
background: #555; 
} 

#R1{ 
line-height: 1; 
position: absolute; 
background:#999; 
width: 385px; 
height: 198px; 
border-color: white;
border-radius: 10px; 
top: 15px; 
left: 18px; 
} 
#R2{ 
line-height: 1; 
position: absolute; 
background: #999; 
width: 385px; 
height: 120px; 
border-radius: 10px; 
top: 235px; 
left: 18px; 
} 

#R3{ 
line-height: 1; 
position: absolute; 
background:#999; 
width: 385px;
 height: 170px; 
border-radius: 10px; 
top: 378px; 
left: 18px; 
} 

#R4{ 
line-height: 1;
position: absolute; 
background:#999; 
width: 385px; 
height: 255px; 
border-radius: 10px; 
top: 568px; 
left: 18px; 
} 

#L1{ 
position: absolute; 
background: url("Img/Img1.png"); 
width: 180px; 
height: 180px; 
top: 10px; 
left: 55px; 
} 

#L2{ 
line-height: 1px; 
position: absolute; 
background:#999; 
width: 255px; 
height: 140px; 
border-radius: 10px; 
top: 225px; 
left: 18px; 
} 

#L3{ 
line-height: 1px; 
position: absolute; 
background:#999; 
width: 255px; 
height: 60px;
border-radius: 10px; 
top: 385px; 
left: 18px; 
} 

#L4{
line-height: 1px; 
position: absolute; 
background:#999; 
width: 255px; 
height: 105px;
border-radius: 10px; 
top: 465px; 
left: 18px; 
} 

#L5{ 
line-height: 1px; 
position: absolute; 
background:#999; 
width: 255px; 
height:92px; 
border-radius: 10px; 
top: 595px; 
left: 18px; 
} 

#L6{ 
line-height: 1px; 
position: absolute; 
background:#999; 
width: 255px;
height: 120px; 
border-radius: 10px; 
top: 705px; 
left: 18px; 
} 
body { 
font-family: 'Montserrat'; 
font-style: normal; 
font-weight: 500; 
}
